@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Saulo Miranda Silva</h1>
    <h5 class="display-4">Desenvolvedor .Net Jr</h5>
    <h5 class="display-5">Pretensão: R$ 3300,00</h5>
    <h6 class="display-6">Data: 16/08/2024</h6>
</div>
