@{
    ViewData["Title"] = "About";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-3">Desafio mais marcante</h1>
    </div>
    <div class="text-left">
        <p class="display-6">O desafio que mais me marcou foi o trabalho que fiz em meu TCC, onde propus um sistema de busca de TCC's para a página do meu curso.</p>
        <p class="display-6"> Neste trabalho eu tive que implementar algoritmos diferentes em 3 etapas do processo de leitura, indexação e busca desses arquivos, e ao final mostrar qual combinação de algoritmos obteve a melhor pontuação.</p>
        <p class="display-6"> As tecnologias que utilizei nesse trabalho foram django + postgresql + bootstrap, devido à adoção dessas tecnologias pela comunidade, o que facilitaria na busca de informações para o aprendizado.</p>
        <p class="display-6"> Devido ao escopo do projeto usei a arquitetura MVC, pela simplicidade desta, e também criei APIs REST para permitir uma integração futura sem precisar usar o front-end do sistema.</p>
    </div>
</div>
